body *{
  font-size: 18px;
  font-family: sans-serif;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}

input {
  font-size: 1em;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  height: 25px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder {
  color: rgb(0.4, 0.4, 0.4);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  outline: none;
}

input[type="submit"], input[type="image"] {
  border-radius: 0.6em;
  margin-top: 0.6em;
  cursor: pointer;
  background: #ffffff;
  border: 2px solid #000000;
  color: #000;
  padding: 13px 20px;
}

.w-100 input[type="submit"], .w-100 input[type="image"] {
  width: 100%;
  display: block;
}

.w-100{
  width: 100%;
}

.min-w-100{
  min-width: 100%;
}

input[type="submit"]:hover, input[type="image"]:hover {
  background: #f0f0f0;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  max-width: min(80vw, 18em);
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kitchen-profile {
  max-width: min(80vw, 18em);
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.screen-area {
  box-sizing: border-box;
  max-width: min(80vw, 18em);
  min-width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: .8em;
}

.title {
  font-size: 1.75em;
  margin-bottom: 20px;
}

.title2 {
  font-size: 1.25em !important;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px 0px 10px 0px;
}

.center-content{
  justify-content: center;
}

.right-content{
  justify-content: right;
}

.center-text{
  text-align: center;
}

.justify-text{
  text-align: justify;
}

.row{
  display: table;
}

.col{
  display: table-cell;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex{
  display: flex;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.gray-text{
  color: gray;
}

.rounded-border{
  border-radius: 50%;
}

.p-2rem{
  padding: 2rem;
}

.p-0{
  padding: 0em !important;
}

.pb-0{
  padding-bottom: 0em !important;
}

.pb-1{
  padding-bottom: 0.2em;
}

.pt-3{
  padding-top: 0.6em;
}

.pb-3{
  padding-bottom: 0.6em;
}

.mb-3{
  margin-bottom: 0.6em;
}

.pb-5{
  padding-bottom: 1em;
}

.py-3{
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.p-5{
  padding: 1em;
}

.py-5{
  padding-top: 1em;
  padding-bottom: 1em;
}

.pt-5{
  padding-top: 1em;
}

.px-5{
  padding-left: 1em;
  padding-right: 1em;
}

.p-10{
  padding: 2em;
}

.px-10{
  padding-left: 2em;
  padding-right: 2em;
}
.py-10{
  padding-top: 2em;
  padding-bottom: 2em;
}

.pb-10{
  padding-bottom: 2em;
}

.pb-15{
  padding-bottom: 3em;
}

.px-15{
  padding-left: 3em;
  padding-right: 3em;
}

.p-20{
  padding: 4em;
}
.m-20{
  margin: 4em;
}

.headerBtn input[type="submit"]{
  margin: 0;
  background: #f6f6f6;
  border-width: 0px;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

.headerBtn input[type="image"]{
  margin: 0;
  background: #f6f6f6;
  border-width: 0px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.headerBtn input[type="submit"]:hover, .headerBtn input[type="image"]:hover{
  background: #e0e0e0;
}

.arrow {
  background-color: black;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

input.small-img {
  width: 18px;
  height: 14px;
}

input.small-img.disabled {
  filter: brightness(150%) contrast(70%);
  cursor: default;
  pointer-events: all !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.search-item{
  padding-top: 1em;
  padding-bottom: 1em;
}

.default-border-bottom{
  border-bottom: 1px solid gray;
}

.search-item-propertie{
  padding-top: 0.2em;
  color: gray;
}

.link{
  color: #1d8af0;
  text-decoration: underline;
}

.link:visited{
  color: #872BFE;
}

.link:hover{
  cursor: pointer;
}

.profile-properties div div{
  padding-top: 0.1em;
}

.profile-properties div{
  padding-top: 0.3em;
}

.event-card-container{
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  width: 90%;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}

.event-card-title{
  font-weight: bold;
  padding-bottom: 10px;
}

.event-card-content {
  margin-bottom: 16px;
}

.event-list-container {
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper-menu-bar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: #c0c0c0;
}

.burger-menu-container{
  margin-left: auto;
  height: 100%;
  width: 50px;
  position: relative;
}

.burger-menu-button{
  border: none;
  background-color: inherit;
  padding: 0;
  width: 50px;
  height: 50px;
}

.burger-menu-button img{
  width: 100%;
  height: auto;
}

.burger-menu-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 80px;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.burger-dropdown-menu-button {
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  background-color: inherit;
  text-align: right;
}

.home-button {
  border: none;
  background-color: inherit;
  width: 50px;
  height: 100%;
}

.home-button img{
  width: 100%;
  height: auto;
}
